@media (max-width: 767px) {
    /* button.close.active {
      color: black;
    } */
    #progressbar {
      display: none;
    }
  
    .event-hide.sidebar-hide .calendar-inner {
      max-width: 100%;
      overflow: auto;
    }
  
    .calendar-sidebar > .month-list,
    .calendar-sidebar > .calendar-year {
      background: #0b6322 !important;
    }
  
    .sidebar-hide .calendar-sidebar {
      height: auto;
    }
  
    tr.calendar-header .calendar-header-day {
      padding: 20px 0 0 0;
      font-size: 19px;
    }
  
    tr.calendar-body .calendar-day .day {
      width: 100%;
      height: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .event-hide .calendar-inner {
      max-width: 100%;
      height: 410px;
  }
    .calendar-sidebar>.month-list {
        position: relative;
        width: 100%;
        height: calc(100% - 43px);
        overflow-y: auto;
        background-color: #8773c1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        z-index: -1;
    }
    #msform p {
      font-size: 18px;
    }
  
    .fs-title,
    th[colspan="7"] {
      font-size: 22px;
    }
  
    .provide-step-area ul {
      padding-left: 0;
    }
  
    .provide-step-area ul p {
      font-size: 12px;
    }
  
    .provide-step-area ul p {
      font-size: 15px !important;
    }
  
    .provide-step-area ul p input {
      display: block;
    }
  
    .provide-step-area ul p input {
      width: 100% !important;
      margin: 0 0 10px !important;
    }
  
    tr.calendar-header .calendar-header-day {
      padding: 21px 0 0 0;
      font-size: 12px;
      width: 10px;
    }
  
    /* tr.calendar-body .calendar-day .day {
      font-size: 12px;
      width: 100%;
      height: 100%;
    } */
  
  
    #msform label {
      font-size: 18px;
    }
  }
  
  @media (max-width: 425px) {
    .event-hide .calendar-inner {
        height: 340px;
    }
    
    .calendar-sidebar {
      background-color: #0b6322 !important;
      width: 100%;
    }
  
    .calendar-sidebar > span#sidebarToggler {
      background-color: transparent;
      box-shadow: unset;
      top: 17px;
      right: 10px;
      display: flex;
      align-items: center;
    }
  
    button.icon-button > span.bars,
    button.icon-button > span.bars::before,
    button.icon-button > span.bars::after {
      height: 3px;
    }
  
    .calendar-sidebar > span#sidebarToggler,
    #eventListToggler {
      width: 33px;
      height: 33px;
      padding: 2px 3px;
    }
  
    .calendar-year::after {
      display: none;
    }
  
    .calendar-sidebar > .month-list,
    .calendar-sidebar > .calendar-year {
      box-shadow: unset;
    }
  }