* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  font-family: var(--poppins-font);
}

body {
  font-family: var(--poppins-font);
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #464e5f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--light-orange);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--light-orange);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.text-light-gray {
  color: #b0b0b0 !important;
}
.bright-red {
  color: #fd5353 !important;
}
.text-slate-gray {
  color: #858a9e;
}
.text-slate-purple {
  color: #7f7e97;
}
.text-light-orange {
  color: var(--light-orange) !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
@font-face {
  font-family: "Futura-Bold";
  src: url(../fonts/futura/unicode.futurab.ttf);
}

@font-face {
  font-family: "Futura-Book-font";
  src: url(../fonts/futura/Futura-Book-font.ttf);
}

@font-face {
  font-family: "Futura-Std-Book";
  src: url(../fonts/futura-std/Futura-Std-Book.otf);
}

@font-face {
  font-family: "Futura-Std-Heavy";
  src: url(../fonts/futura-std/Futura-Std-Heavy.otf);
}

:root {
  --futura-font: "Futura-Bold";
  --futura-book-font: "Futura-Book-font";
  --futura-std-book: "Futura-Std-Book";
  --futura-std-heavy: "Futura-Std-Heavy";
  --poppins-font: "Poppins", sans-serif;
  --mustard-yellow: #c5942a;
  --light-orange: #ffbb45;
  --slate-blue: #464e5f;
}

/* login signup journy start */
.login-section-flex {
  display: flex;
  justify-content: start;
  height: 100vh;
  overflow: hidden;
}
.login-right-logo {
  max-width: 200px;
}
.login-right-logo-area {
  display: none;
}

.login-section-right {
  background-image: url(../images/login-right-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;
  height: 100%;
  display: inline-grid;
  align-items: center;
  padding-left: 7rem;
  overflow-y: auto;
  padding: 5rem 0 5rem 7rem;
}

.login-section-left {
  height: 100%;
  background-image: url(../images/login-left-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 717px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-title {
  font-size: 6.4rem;
  font-family: var(--futura-font);
  font-weight: 700;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.login-sb-title {
  font-size: 5.1rem;
  font-family: var(--futura-font);
  color: black;
  text-transform: uppercase;
}
.login-para {
  font-size: 2.2rem;
  color: black;
  font-family: var(--futura-book-font);
  line-height: 1.2;
}
.login-fields-main {
  max-width: 585px;
  width: 100%;
  background-color: white;
  padding: 3rem 4rem;
  border-radius: 25px;
  margin-top: 20px;
}
.login-fields-area {
  box-shadow: 0 12px 40px 0 #00000017;
}
.field-icon-area {
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--mustard-yellow);
}
.field-icon-area i {
  color: white;
  font-size: 2.5rem;
}
.login-fields {
  height: 70px !important;
  background-color: #e4e4e4;
  border: none;
  font-size: 1.8rem;
  font-family: var(--futura-font);
  color: black;
  padding: 5px 15px !important;
}
.login-label {
  font-size: 1.4rem;
  font-family: var(--futura-font);
  color: #707070;
  opacity: 0.5;
  text-transform: uppercase;
}
.form-floating > label {
  height: auto;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 10px 15px;
}
.form-control.login-fields:focus,
.form-select.login-fields:focus {
  color: black;
  background-color: #e4e4e4;
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}
.form-floating > .form-control-plaintext ~ label::after,
.form-floating > .form-control:focus ~ label::after,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after,
.form-floating > .form-select ~ label::after {
  background-color: transparent;
}
.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  color: #707070;
  transform: scale(0.9) translateY(-4.5rem) translateX(0.15rem);
  opacity: 0.5;
}
.login-btn {
  border: none;
  background-color: transparent;
  font-size: 2rem;
  font-family: var(--futura-font);
  color: black;
}
.login-btn i {
  font-size: 2.5rem;
}
.login-link {
  font-size: 2rem;
  font-family: var(--futura-std-book);
  color: black;
}
.login-link-area {
  max-width: 585px;
}
p.login-link a {
  font-family: var(--futura-std-heavy);
}

/* login signup journy end */

/* sidebar start */
.dashboard-main {
  display: flex;
  justify-content: start;
  overflow: hidden;
}
.sidebar-logo-area {
  padding-left: 3rem;
}
.sidebar-logo {
  max-width: 155px;
  width: 100%;
}
.navigation-area::-webkit-scrollbar {
  width: 5px !important;
}

.side-bar {
  height: 100vh;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  background-image: url(../images/sidebar-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 265px;
  width: 100%;
}
.sidebar-drop-btn {
  color: white;
  position: absolute;
  right: 15px;
  top: 18px;
}
.sidebar-drop-btn i {
  font-size: 1.5rem;
}
.sidebar-dropdown-link .navigation-li .link {
  padding-left: 62px;
}
.sidebar-logout-btn-area {
  padding-left: 3rem;
}
.sidebar-logout-btn {
  background-color: transparent;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1.7rem;
  font-family: var(--poppins-font);
  font-weight: 500;
  text-transform: capitalize;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}
.link {
  font-size: 1.4rem;
  font-family: var(--poppins-font);
  font-weight: 400;
  color: white;
  padding: 14px 10px 14px 30px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  transition: 0.4s;
  position: relative;
}
.link::after {
  content: " ";
  position: absolute;
  right: 0px;
  height: 100%;
  width: 6px;
  background-color: var(--light-orange);
  transition: 0.4s;
  opacity: 0;
}
.link:hover::after {
  opacity: 1;
}
.link.active::after {
  opacity: 1;
}
.link:hover {
  border-top: 1px solid var(--light-orange);
  border-bottom: 1px solid var(--light-orange);
  color: var(--light-orange);
}
.link.active {
  border-top: 1px solid var(--light-orange);
  border-bottom: 1px solid var(--light-orange);
  color: var(--light-orange);
}
.link:hover .sidebar-icon {
  filter: brightness(1);
}
.link.active .sidebar-icon {
  filter: brightness(1);
}
.sidebar-icon {
  filter: brightness(10);
  max-width: 20px;
  width: 100%;
}
.link i {
  font-size: 2rem;
}
.navigation-li {
  margin-bottom: 15px;
}
.sidebar-cls-btn {
  display: none;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  background-color: var(--light-orange);
  color: white;
  font-size: 2rem;
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 100%;
  border: none;
}
/* sidebar end */

/* header start */
.header {
  background-color: white;
  padding: 2.5rem 4rem;
  position: sticky;
  top: 0;
  z-index: 999;
}
.menu-btn {
  height: 50px;
  width: 50px;
  background-color: var(--light-orange);
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border: none;
  border-radius: 5px;
  margin-left: 20px;
}
.user-img-area {
  max-width: 45px;
}
.head-title {
  font-size: 2rem;
  font-family: var(--poppins-font);
  font-weight: 600;
  color: black;
}
.head-para {
  font-size: 1.4rem;
  font-family: var(--poppins-font);
  font-weight: 400;
  color: #9fa9bf;
}
.notify-btn {
  background-color: transparent;
  border: none;
  font-size: 2.8rem;
  color: black;
  position: relative;
}
.notify-circle {
  height: 14px;
  width: 14px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 1rem;
  background-color: var(--light-orange);
  position: absolute;
  top: 5px;
  right: -2px;
  border: 3px solid white;
}
.user-img {
  height: 45px;
  width: 45px;
  border-radius: 100%;
  object-fit: cover;
}
.header-btn {
  font-size: 1.6rem;
  font-family: var(--poppins-font);
  color: black;
  font-weight: 600;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 60px;
  border-left: 2px solid #c2c2c2 !important;
  padding: 0;
  padding-left: 30px;
  margin-left: 30px;
  border-radius: 0;
}
.header-btn:hover {
  color: black;
}
.user-tag {
  font-size: 1.2rem;
  font-family: var(--poppins-font);
  font-weight: 400;
}
.header-btn.btn.show {
  color: black;
  background-color: transparent;
  border-color: transparent;
}
.header-btn.dropdown-toggle::after {
  display: none;
}
.dropdown-link {
  font-size: 1.6rem;
  font-family: var(--poppins-font);
  font-weight: 400;
  color: black;
}
.header-dropdown {
  width: 100%;
  border: none;
  background-color: white;
  box-shadow: 0 5px 10px 0 #00000042;
}
/* header end */

/* dashboard-right-area css */
.dashboard-right-area {
  overflow: auto;
  height: 100vh;
  flex-grow: 1;
}

/* dashboard-right-area css */

/* dashboard sec start */

.main {
  min-height: calc(100vh - 100px);
  background-image: url(../images/main-bg-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 4rem;
}
.search-btn {
  width: 54px;
  height: 50px;
  background-color: var(--light-orange);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  border-radius: 5px;
  box-shadow: 2.5px 4.3px 20px 0 #00000030;
}
.main-search-area {
  margin-bottom: 30px;
}
.input-search {
  width: 100%;
  border-radius: 16px;
  background-color: white;
  border: none;
  outline: none;
  padding: 12px 10px 12px 70px;
  font-size: 1.6rem;
  font-family: var(--poppins-font);
  font-weight: 400;
  color: black;
  height: 48px;
}
.input-search::placeholder {
  font-size: 1.6rem;
  font-family: var(--poppins-font);
  font-weight: 400;
  color: black;
}
.search-icon {
  font-size: 1.6rem;
  color: black;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
}
.sorting-select {
  background-color: transparent;
  border: none;
  font-size: 1.7rem;
  font-family: var(--poppins-font);
  font-weight: 600;
  color: #404040;
}
.form-select.sorting-select:focus {
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}
.fa-sliders-btn {
  background-color: transparent;
  border: none;
  color: #c2c2c2;
  font-size: 2rem;
  padding: 0;
}
.sorting-selects-area {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
.sorting-selects-area div:nth-child(1) {
  width: 15%;
}
.sorting-selects-area div:nth-child(2) {
  width: 20%;
}
.your-progress-assets-area {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 3rem 2rem;
}

.sb-title {
  font-size: 1.6rem;
  font-weight: 600;
  font-family: var(--poppins-font);
  color: var(--slate-blue);
}

.circular-progress {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.inner-circle {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: lightgrey;
}

.percentage {
  position: relative;
  font-size: 5.5rem;
  font-family: var(--poppins-font);
  font-weight: 700;
  color: var(--slate-blue) !important;
}
.circle-text {
  font-size: 2rem;
  font-family: var(--poppins-font);
  font-weight: 400;
  color: var(--slate-blue);
  opacity: 0.4;
}
.asset-box {
  border-radius: 25px;
  border: 1px solid #0000001f;
  padding: 1.5rem 1.8rem 1.8rem;
  max-width: 350px;
  width: 100%;
  float: right;
}
.asset-icon-circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.asset-title {
  font-size: 1.8rem;
  font-family: var(--poppins-font);
  font-weight: 500;
  color: black;
  margin: 6px 0 14px;
  display: block;
}
.asset-amount {
  font-size: 3.2rem;
  font-family: var(--poppins-font);
  color: black;
  font-weight: 600;
}
.asset-tag {
  font-size: 2.2rem;
  font-family: var(--poppins-font);
  font-weight: 500;
  color: black;
  text-transform: uppercase;
}

/* calender css */

.calendar-sidebar > span#sidebarToggler {
  display: none;
  padding: 6px 8px 7px 8px;
}

tr.calendar-body .calendar-day .day.calendar-active,
tr.calendar-body .calendar-day .day.calendar-active:hover {
  color: #fff;
  border-color: #3b40e2;
}

#msform fieldset:not(:first-of-type) {
  display: none;
}

/*inputs*/
#msform input[type="text"],
#msform input[type="date"],
#msform textarea,
#msform input[type="file"] {
  padding: 15px;
  margin-bottom: 10px;
  width: 100%;
  color: #2c3e50;
  font-size: 13px;
}

#msform input[type="text"]:focus,
#msform input[type="date"]:focus,
#msform textarea:focus,
#msform input[type="file"]:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #3b40e2;
  outline-width: 0;
  transition: All 0.5s ease-in;
  -webkit-transition: All 0.5s ease-in;
  -moz-transition: All 0.5s ease-in;
  -o-transition: All 0.5s ease-in;
}

#msform .action-button,
.previous.action-button-previous {
  width: 122px !important;
  background: #3b40e2;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 19px;
  color: white;
  border: 0 none;
  border-radius: 6px;
  cursor: pointer;
  padding: 12px 18px;
  margin: 10px 5px;
}

.previous.action-button-previous {
  background: #dcdcdc;
  border-radius: 6px !important;
  color: #4f4f4f;
  font-weight: 500;
}

.fs-title {
  font-size: 38px;
  color: #3b40e2;
  margin-bottom: 20px;
  font-weight: 800;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

#progressbar {
  display: flex;
  justify-content: space-between;
}
#progressbar li span {
  position: absolute;
  top: 3px;
  left: 50%;
  transform: translate(-50%, 0);
}
#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 100%;
  float: left;
  position: relative;
  letter-spacing: 1px;
}
#progressbar li.active {
  font-size: 12px;
}
#progressbar li {
  font-size: 0;
  color: #fff;
}
#progressbar li:before {
  content: "";
  width: 24px;
  height: 24px;
  line-height: 26px;
  display: block;
  font-size: 12px;
  color: #333;
  background: #d9d9d9;
  border-radius: 25px;
  margin: 0 auto 10px auto;
}

#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #d9d9d9;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
}

#progressbar li:first-child:after {
  content: none;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #3b40e2;
  color: white;
}

.dme_link {
  margin-top: 30px;
  text-align: center;
}

.dme_link a {
  background: #fff;
  font-weight: bold;
  color: #ee0979;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 5px 25px;
  font-size: 12px;
}

.dme_link a:hover,
.dme_link a:focus {
  background: #c5c5f1;
  text-decoration: none;
}

.calendar-sidebar {
  background-color: var(--light-orange) !important;
  width: 100%;
}

.calendar-sidebar > span#sidebarToggler {
  background-color: transparent;
  box-shadow: unset;
  color: #fff;
  z-index: 99999999;
  top: 25px;
  left: -26px;
}

button.icon-button > span.bars,
button.icon-button > span.bars::before,
button.icon-button > span.bars::after {
  background-color: #fff;
}

th[colspan="7"] {
  font-family: var(--poppins-font);
  color: black;
  font-weight: 600;
  font-size: 2.5rem;
  padding-bottom: 15px;
}

th[colspan="7"]::after {
  display: none;
}

tr.calendar-header .calendar-header-day {
  padding: 10px 10px 10px 10px;
  text-align: center;
  color: #7f7f7f;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: var(--poppins-font);
}

.calendar-sidebar > .month-list > .calendar-months > li {
  text-align: left;
}

.evo-calendar {
  border-radius: 8px;
  box-shadow: 10px 24px 108px 0px #5a5a5a1f;
  background-color: #ffffff;
  height: auto;
}

.event-hide .calendar-inner {
  /* max-width: calc(100% - 200px); */
  height: auto;
  border-radius: 8px;
  background-color: #ffffff;
}

.calendar-sidebar {
  border-radius: 8px;
  padding: 14px 14px;
}

#eventListToggler {
  display: none;
}

tr.calendar-body .calendar-day {
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: black;
}

.calendar-sidebar > .month-list > .calendar-months > li {
  font-weight: 400;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

.calendar-sidebar > .calendar-year {
  padding: 0;
  text-align: center;
}
.calendar-year {
  position: relative;
}

.calendar-year p {
  color: #fff !important;
}

.calendar-year::after {
  display: none;
}

.calendar-sidebar > .month-list > .calendar-months > li.active-month,
.calendar-sidebar > .month-list > .calendar-months > li:hover {
  background-color: #ffffff38;
  border-left: 6px solid #fff;
}

.calendar-sidebar > .month-list > .calendar-months > li {
  border-radius: 7px;
  border-left: 6px solid transparent;
}

tr.calendar-body .calendar-day .day {
  padding: 7px 6px;
  height: 30px;
  justify-content: center;
  align-items: center;
  width: 35px;
  display: flex;
  border-radius: 10px;
  border: transparent;
  color: black;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: var(--poppins-font);
}

tr.calendar-body .calendar-day .day.calendar-active,
tr.calendar-body .calendar-day .day:hover {
  background: var(--light-orange);
  color: #fff;
  cursor: pointer;
}

tr.calendar-body .calendar-day .day.disabled {
  pointer-events: auto !important;
  background: transparent;
  color: #d9d6d6;
  cursor: not-allowed !important;
}

.calendar-inner {
  margin-left: 0;
}

.calendar-inner {
  padding: 1.5rem 1.5rem;
}

.event-hide .calendar-inner {
  max-width: 100%;
  height: 360px;
}

.calendar-sidebar > .month-list > .calendar-months > li {
  padding: 7px 11px;
}

.hero {
  position: relative;
}

#msform label {
  color: #4f4f4f;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  font-family: sans-serif;
  margin-bottom: 10px;
  line-height: 125%;
}

#msform input[type="text"],
#msform input[type="date"],
#msform input[type="file"] {
  border-radius: 8px;
  border: 1px solid #d8d8d8;
  background: #f1f2f2;
}

#msform input[type="text"]::placeholder,
#msform input[type="date"]::placeholder,
#msform input[type="file"] {
  color: #c0c0c0;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

#msform p {
  color: #4f4f4f;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

#msform p a {
  color: #3b40e2;
}

#msform .text-start {
  margin-bottom: 20px;
}

.provide-step-area ul p input {
  width: 25% !important;
  margin: 0 15px;
}

.provide-step-area ul p {
  color: #4f4f4f;
  font-size: 24px;
  font-style: normal;
  font-weight: 600 !important;
  font-family: sans-serif;
  margin-bottom: 10px;
  line-height: 125%;
}
button.close {
  position: absolute;
  z-index: 99;
  left: 9px;
  top: 22px;
  background: transparent;
  border: transparent;
  color: black;
}
button.close.active {
  color: black;
  z-index: 99;
}
button.icon-button {
  display: none;
}
.calendar-events {
  display: none;
}
.sidebar-hide .calendar-sidebar {
  transform: translateX(-110%);
}
tr.calendar-body .calendar-day {
  padding: 5px 0;
}
.calendar-months {
  height: 290px !important;
  overflow: auto;
}
.calendar-months::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.calendar-months::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.calendar-months::-webkit-scrollbar-thumb {
  background: black;
}

/* Handle on hover */
.calendar-months::-webkit-scrollbar-thumb:hover {
  background: black;
}
.calendar-sidebar > .calendar-year > p {
  font-size: 3rem;
  font-weight: 700;
}

/* calender css  end */

.ellipsis-btn {
  color: #342e59;
  font-size: 2.4rem;
}
.ellipsis-btn.dropdown-toggle::after {
  display: none;
}
.weekly-investment-select {
  color: #3e5180;
  font-size: 1.4rem;
  font-family: var(--poppins-font);
  font-weight: 500;
  width: 144px;
  padding: 0.9rem 2rem;
  border: 1px solid #e6ebf0;
  border-radius: 15px;
}
#chartdiv {
  width: 100%;
  height: 300px;
}
.bitcoin-summary-date {
  font-size: 1.2rem;
  font-family: var(--poppins-font);
  font-weight: 400;
  color: #2b2d33;
}
.your-progress-assets-area.bitcoin-summary-area {
  margin-top: -70px;
}
.asset-icon-circle.sm-circle {
  height: 32px;
  width: 32px;
}
.bitcoin-summary-amount {
  font-size: 3rem;
  font-family: var(--poppins-font);
  color: #555555;
  font-weight: 700;
}
.bitcoin-summ-per {
  font-size: 1.6rem;
  font-family: var(--poppins-font);
  font-weight: 600;
  color: #02bba9;
}
.bitcoin-summ-amount-area {
  gap: 60px;
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 15px;
  margin-top: 20px;
}
.bitcoin-summ-table tr td {
  width: 25%;
  font-size: 1.2rem;
  font-family: var(--poppins-font);
  color: #555555;
  font-weight: 600;
  padding: 10px 0;
}
.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  color: unset;
}
.btn:hover {
  color: unset;
}
.apexcharts-toolbar {
  display: none !important;
}

.faq-btn {
  font-size: 1.4rem;
  font-family: var(--poppins-font);
  font-weight: 500;
  color: #7a7a7a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.7rem 2rem;
  width: 100%;
  border-radius: 16px;
  border: none;
  background-color: #f5f5f5;
}
.trad-comm-circle {
  width: 9px;
  height: 9px;
  display: block;
  border-radius: 100%;
  background-color: #ff8933;
}
.trading-community-name {
  font-size: 1.4rem;
  font-weight: 500;
  font-family: var(--poppins-font);
  color: #7f7f7f;
}
.trading-community-li {
  margin-top: 20px;
  padding: 0 2.5rem;
}
.index-right-area {
  height: 100%;
}
.index-right-area .your-progress-assets-area {
  height: 100%;
  overflow: auto;
  max-height: 940px;
}
.index-right-area .your-progress-assets-area::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.index-right-area .your-progress-assets-area::-webkit-scrollbar-track {
  background: #d5d5d5;
  border-radius: 10px;
}

/* Handle */
.index-right-area .your-progress-assets-area::-webkit-scrollbar-thumb {
  background: #bbbbbb;
  border-radius: 10px;
}

/* Handle on hover */
.index-right-area .your-progress-assets-area::-webkit-scrollbar-thumb:hover {
  background: #bbbbbb;
}
/* dashboard sec end */

/* trading alert css */

.portfolio-state-area {
  background-color: white;
  border-radius: 15px;
  padding: 2rem 2rem;
  box-shadow: 0 7px 42px 0 #00000014;
}
.canvasjs-chart-panel {
  margin-top: 10px;
}
.portfolio-state-title {
  font-size: 2rem;
}
.portfolio-state-price {
  font-size: 1.5rem;
  color: #7f7f7f;
}
.dynamic-table tr th {
  font-size: 1.2rem;
  font-weight: 400;
  color: #848ca9;
}
.dynamic-table tr th {
  font-size: 1.6rem;
  font-weight: 600;
  color: #848ca9;
  padding: 8px 10px 8px 30px;
  background-color: white;
}
.dynamic-table tr th:first-child,
.dynamic-table tr td:first-child {
  border-radius: 16px 0px 0px 16px;
}
.dynamic-table tr th:last-child,
.dynamic-table tr td:last-child {
  border-radius: 0 16px 16px 0;
}
.dynamic-table {
  caption-side: bottom;
  border-collapse: separate;
  border-spacing: 0px 20px;
}
.dynamic-table tr td {
  font-size: 1.6rem;
  font-weight: 400;
  color: #3f4765;
  padding: 16px 10px 16px 30px;
}
.table-curr-icon {
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--bg-color);
}

.tabel-btn {
  font-size: 1.2rem;
  font-family: var(--poppins-font);
  color: var(--light-orange);
  font-weight: 400;
  border: 2px solid var(--light-orange);
  padding: 0.5rem 1rem;
  width: 112px;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
}
.trading-alert-table-area {
  margin-top: 20px;
}
.trading-alert-table-area .dataTables_info,
.dataTables_length label,
.dataTables_length label .form-select.form-select-sm,
.dataTables_filter label,
.dataTables_filter label .form-control.form-control-sm,
.dataTables_info {
  font-size: 1.6rem;
  font-family: var(--poppins-font);
  font-weight: 400;
  color: black;
}
.dataTables_filter label .form-control.form-control-sm {
  max-width: 200px;
}
.dataTables_length label,
.dataTables_filter label {
  text-transform: capitalize;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.dataTables_filter label {
  justify-content: end;
}
.dataTables_length label .form-select.form-select-sm {
  max-width: 100px;
}
.form-select:focus,
.form-control:focus {
  border-color: unset;
  outline: 0;
  box-shadow: unset;
}
.dataTables_paginate .pagination {
  justify-content: end;
}
.dataTables_paginate .pagination .page-item:first-child .page-link {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.dataTables_paginate .pagination a.page-link {
  font-size: 1.6rem;
  color: black;
  font-family: var(--poppins-font-family);
  font-weight: 600;
  height: 35px;
  width: 35px;
  border: 1px solid var(--light-orange);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 5px;
}
.paginate_button.page-item.active a.page-link {
  background-color: var(--light-orange);
}
#trading-alert-table_wrapper .row:last-child {
  align-items: center;
}
.loader {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.canvasjs-chart-credit {
  display: none;
}
.canvasjs-chart-toolbar {
  display: none;
}

/* message/chat screen start */
.user-list-sidebar {
  background-color: #ffffff;
  max-width: 490px;
  width: 100%;
  border-right: 2px solid #d1d1d1;
}
.message-main {
  display: flex;
  justify-content: start;
}

.chat-menu-btn {
  height: 40px;
  width: 40px;
  color: white;
  background-color: #161439;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}
.chat-search-area {
  background-color: white;
  height: 93px;
  display: flex;
  align-items: center;
  padding: 10px 40px;
}
.chat-search {
  font-size: 16px;
  color: #4d4f5c;
  font-family: var(--poppins-font);
  outline: none;
  font-weight: 400;
  background-color: transparent;
  border: none;
  flex-grow: 1;
}
.chat-search::placeholder {
  font-size: 16px;
  color: #4d4f5c;
  font-family: var(--poppins-font);
  font-weight: 400;
}
.chat-search-area i {
  color: #bcbccb;
  font-size: 2rem;
}
.chat-profile-img {
  height: 43px;
  width: 43px;
  border-radius: 50%;
}
.name-time-area a {
  text-decoration: none;
}
.chat-user-name {
  font-size: 1.5rem;
  color: #4d4f5c;
  font-family: var(--poppins-font);
  font-weight: 700;
  line-height: 1.2;
}
.chat-time {
  font-size: 1.5rem;
  font-family: var(--poppins-font);
  color: #4d4f5c;
  font-weight: 400;
  line-height: 1.2;
}
.chat-sidebar-msg {
  font-size: 1.5rem;
  font-family: var(--poppins-font);
  font-weight: 400;
  color: #4d4f5c;
  line-height: 1.2;
}
.user-profile-area {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  background-color: transparent;
  padding: 21px 30px;
  border-top: 2px solid #f1f1f3;
  transition: 0.5s;
}
.user-profile-area:hover {
  background-color: #f5f6fa;
}
.user-name-msg-area {
  width: 100%;
}
.user-profile-img-area {
  max-width: 43px;
  width: 100%;
}

.name-time-area {
  margin-bottom: 8px;
}
.msg-count-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-profile-img-area a {
  text-decoration: none;
}
.img-user-alphabet {
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #78e378;
  color: white;
  font-size: 16px;
  font-family: var(--poppins-font);
}
.users-detail-area {
  height: calc(100vh - 250px);
  overflow-y: auto;
}
/* width */
.users-detail-area::-webkit-scrollbar,
.message-area::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.users-detail-area::-webkit-scrollbar-track,
.message-area::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.394);
}

/* Handle */
.users-detail-area::-webkit-scrollbar-thumb,
.message-area::-webkit-scrollbar-thumb {
  background: var(--slate-blue);
}

/* Handle on hover */
.users-detail-area::-webkit-scrollbar-thumb:hover,
.message-area::-webkit-scrollbar-thumb:hover {
  background: var(--slate-blue);
}

.chat-user-img {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  object-fit: cover;
}
.chat-user-img-area {
  max-width: 64px;
  width: 100%;
}

.chat-header {
  border-bottom: 2px solid #d1d1d1;
  padding: 8px 40px 8px 40px;
  height: 93px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-chat-area {
  flex-grow: 1;
}
.chat-header-left {
  display: flex;
  align-items: center;
  gap: 30px;
}
.message-sender-area {
  background-color: #f5f6fa;
  border-radius: 0px;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.first-btn {
  background-color: transparent;
  color: #cecfd0;
  font-size: 2rem;
  padding: 0;
}
.first-btn:hover {
  background-color: transparent;
  color: black;
}
.send-msg-btn {
  border: none;
  background-color: transparent;
  font-size: 25px;
  color: var(--Cerulean-color);
  padding: 0;
  transform: rotate(45deg);
}
.send-msg-input {
  font-size: 16px;
  font-family: var(--poppins-font);
  color: #3b86ff;
  outline: none;
  border: none;
  background-color: transparent !important;
  width: 100%;
  resize: none;
  padding-top: 14px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  vertical-align: middle;
  max-height: 50px;
  height: auto;
  line-height: 1.3;
}
.send-msg-input::placeholder {
  font-size: 16px;
  font-family: var(--poppins-font);
  color: #3b86ff;
}

.message-area {
  background-color: white;
  height: calc(100vh - 430px);
  overflow-y: auto;
  padding: 20px 50px;
}
.msg-day {
  font-size: 16px;
  font-family: var(--poppins-font);
  color: white;
  padding: 6px 12px;
  background-color: #3d70b899;
  border-radius: 12px;
  width: fit-content;
}
.message-recieve-area {
  background-color: #edf0f5;
  border-radius: 30px 30px 30px 0px;
  padding: 10px 22px;
  margin: 0 0 5px;
}

.msg-time {
  font-size: 1.3rem;
  font-family: var(--poppins-font);
  color: #43425d;
  opacity: 0.5;
}
.react-emoji {
  font-size: 14px;
  color: #f71735;
}
.check-icon {
  color: #011627;
  font-size: 12px;
}
.time_icon_area {
  display: flex;
  justify-content: start;
  align-items: center;
}
.receive-msg-text {
  color: #4d4f5c;
  font-size: 1.5rem;
  font-family: var(--poppins-font);
  line-height: 1.6;
  font-weight: 500;
}
.message-recieve-area.send-message {
  background-color: #ffbb45;
  position: relative;
  max-width: 300px;
  border-radius: 30px 30px 0px 30px;
}
.message-recieve-area.send-message .receive-msg-text {
  color: white;
}
.message-recieve-area.send-message .receive-msg-text {
  color: white;
}
.message-recieve-area.send-message .msg-time {
  color: white;
}
.message-recieve-area.send-message .check-icon {
  color: white;
}
.send-message-main {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}
.message-recieve-area-main {
  max-width: 300px;
  margin-bottom: 20px;
}
.users-detail-area .user-profile-area:nth-last-child(0) {
  margin-bottom: 0;
}
.userListCloseBtn {
  position: absolute;
  right: -10px;
  top: -5px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-size: 14px;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #161439;
  border: none;
  color: white;
}
.chat-file-input {
  display: none !important;
}
.chat-file-label {
  font-size: 2rem;
  color: #cecfd0;
  cursor: pointer;
}
.emoji-btn-area {
  display: flex;
  align-items: center;
  gap: 20px;
}
.online-status {
  height: 12px;
  width: 12px;
  border-radius: 100%;
  background-color: #5ee2a0;
  position: absolute;
  bottom: 5px;
  right: 2px;
}
.active-chat-user-name {
  font-size: 1.9rem;
  font-weight: 500;
  color: #4d4f5c;
}
.active-chat-user-tag {
  font-size: 1.6rem;
  font-weight: 400;
  color: #43425d;
  opacity: 0.5;
}
.chat-footer {
  background-color: white;
  padding: 40px 40px;
  border-top: 2px solid #d1d1d1;
}
/* message/chat screen end */

/* upcoming courses */

.upcom-coure-title {
  font-size: 2.2rem;
}
.upcoming-course-area {
  background-color: white;
  padding: 20px 30px 50px;
}
.course-slider-btn {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.course-slider-btn.pre-btn {
  left: 10px;
}
.course-slider-btn.next-btn {
  right: 10px;
}
.course-card {
  border: 1px solid #b5b5c3;
  border-radius: 1rem;
  padding: 2.6rem 2.6rem;
  margin: 0 1rem;
}
.course-img {
  width: 100%;
  border-radius: 6px;
  height: 190px;
}
.course-tag {
  font-size: 1.3rem;
  color: #161439;
  display: inline-block;
  padding: 4px 11px;
  border-radius: 50px;
  background-color: #efeff2;
}
.course-img-area {
  margin-bottom: 25px;
}
.course-title {
  font-size: 1.8rem;
  color: #161439;
  line-height: 1.4;
  margin: 20px 0;
}
.by-admin {
  font-size: 1.5rem;
  font-family: var(--poppins-font);
  font-weight: 400;
  color: #6d6c80;
}
.by-admin a {
  color: #161439;
}
.course-enroll-link {
  font-size: 1.4rem;
  font-weight: 600;
  color: #161439;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #ffc224;
  border-radius: 50px;
  padding: 9px 18px;
  border: 1px solid black;
  box-shadow: 4px 4px 0 0 #3d3d3d;
}
.course-price-area {
  margin-top: 20px;
}
.course-price {
  font-size: 2rem;
  color: #5751e1;
  font-weight: 700;
}
.course-slider-area {
  margin-top: 40px;
  padding: 0 5rem;
}
.course-table tr th {
  font-size: 1.8rem;
  font-weight: 600;
  color: #101010;
  padding: 15px 20px 0px 40px;
  border: none;
}
.course-table tr td {
  font-size: 1.8rem;
  font-weight: 400;
  color: #363636;
  padding: 15px 20px 15px 40px;
  border: none;
  background-color: #f4f4f4;
}
.course-table tr td:first-child {
  border-radius: 100px 0px 0px 100px;
}
.course-table tr td:last-child {
  border-radius: 0px 100px 100px 0px;
}
.course-table {
  border-collapse: separate;
  border-spacing: 0px 20px;
}
.action-drop-down {
  color: #292929;
  font-size: 2rem;
}
.action-drop-down.dropdown-toggle::after {
  display: none;
}
.event-table tr th {
  padding: 15px 20px 0px 30px;
  vertical-align: middle;
}
.event-table tr td {
  padding: 15px 20px 15px 30px;
  vertical-align: middle;
}
.speaker-profile-container {
  display: flex;
  align-items: center;
}

.speaker-profile-img-area {
  width: 42px;
  height: 42px;
  margin-right: -22px;
}

.speaker-profile-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid white;
}

.more-profiles {
  background-color: transparent;
  font-size: 1.8rem;
  font-weight: 400;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.extra-profiles {
  display: flex;
}

.close {
  float: right;
  font-size: 24px;
  cursor: pointer;
}
.dropdown-item {
  font-size: 1.6rem;
  font-weight: 400;
  color: black;
}
.notify-icon-area {
  height: 55px;
  max-width: 55px;
  border-radius: 50%;
  background-color: var(--light-orange);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.notify-icon-area i {
  font-size: 2.5rem;
  color: white;
}
.notification-text {
  font-size: 2rem;
  font-weight: 500;
  color: #2d2d2d;
  margin-bottom: 2px;
  line-height: 1.3;
}
.notification-time {
  font-size: 1.6rem;
  font-weight: 400;
  color: #5d646d;
}
.notification-li {
  gap: 20px;
  background-color: #f2f2f2;
  padding: 18px 20px;
  border-radius: 5px;
  border-bottom: 0.5px solid #7e7e7e;
  transition: 0.4s;
}
.notification-li:hover {
  box-shadow: 0 4px 17.5px 0 #00000052;
  border-color: transparent;
  position: relative;
  z-index: 11;
}
.notification-list {
  margin-top: 30px !important;
}

.profile-area-main {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 50px;
}
.profile-area-main-right {
  max-width: 250px;
}
.profile-area-main-left {
  flex-grow: 1;
}

.profile-area {
  background-color: white;
  padding: 30px 20px;
  box-shadow: 0 20px 50px 0px #00000038;
  border-radius: 5px;
  max-width: 1210px;
}
.profile-info-title {
  font-size: 2.4rem;
  font-family: var(--poppins-font);
  font-weight: 500;
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 25px;
}
.profile-fields {
  font-size: 1.5rem;
  font-weight: 400;
  color: #5d646d;
  padding: 6px 20px;
  background-color: #f5f5f5;
  outline: none;
  border: none;
  width: 100%;
  border-radius: 5px;
}
.profile-label {
  font-size: 1.5rem;
  font-weight: 500;
  color: #0d233e;
}
.profile-label span {
  color: #ff0000;
}
.profile-field-area {
  border-bottom: 1px solid #e3e3e3;
  padding: 13px 0;
}
.profile-btn {
  padding: 11px 30px;
  background-color: var(--light-orange);
  color: black;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 5px;
}
.pro-field-btn-area .profile-btn {
  width: 200px;
  margin-top: 50px;
}
.chnge-pro-title {
  font-size: 1.6rem;
  font-weight: 600;
  color: #191919;
  margin: 25px 0;
}
.upload-pro-label {
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
  border-radius: 4px;
  background-color: var(--bg-color);
  width: 100%;
  display: block;
  padding: 6px 5px;
  text-transform: capitalize;
  cursor: pointer;
}
.pro-pass-field {
  border-radius: 6px;
  background-color: #f5f5f5;
  padding: 10px 10px;
  font-size: 1.4rem;
  font-weight: 400;
  color: black;
  border: none;
  outline: none;
  width: 100%;
}
.pro-pass-field::placeholder {
  font-size: 1.4rem;
  font-weight: 400;
  color: #a4a4a4;
}
.profile-btn.pass-update-btn {
  margin-top: 40px;
  padding: 10px 40px;
}
.profile-detail-img {
  max-width: 232px;
  width: 100%;
  height: 232px;
  border-radius: 12px;
  object-fit: cover;
}

/* subscription screen area */

.yearly-access {
  font-size: 3rem;
  font-weight: 400;
  color: black;
}
.yearly-access-price {
  font-size: 4.8rem;
  font-weight: 700;
  color: #161921;
}
.yearly-access-price span {
  color: var(--light-orange);
  transition: 0.4s;
}
.subs-plan-area:hover .yearly-access-price span {
  color: #161921;
}
.subs-plan-area:hover .subs-points-list li i {
  color: black;
}
.price-yearly-access {
  max-width: 517px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 30px;
  box-shadow: 0 0 17.5px 0 #5e5e5e42;
}
.upgrade-btn {
  width: 148px;
}
.subs-pricing-area {
  margin-bottom: 80px;
}
.subs-plan-title {
  font-size: 4.2rem;
  font-weight: 600;
  color: black;
  text-transform: capitalize;
}
.subs-plans {
  margin-top: 60px;
}
.subs-plan-area {
  padding: 50px 0;
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0 4px 4px 0 #00000045;
  transition: 0.4s;
}
.subs-plan-area:hover {
  background-color: var(--light-orange);
  transform: scale(1.1);
}
.access-tag {
  font-size: 3rem;
  font-weight: 400;
  color: black;
  padding: 10px 20px;
  background-color: var(--light-orange);
  max-width: 373px;
  width: 100%;
  position: relative;
  transition: 0.4s;
}
.subs-plan-area:hover .access-tag {
  background-color: white;
}
.subs-plan-area:hover .access-tag::before {
  background-color: var(--light-orange);
}
.access-tag::before {
  content: " ";
  position: absolute;
  right: -1px;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 40px;
  background-color: white;
  clip-path: polygon(0 50%, 100% 100%, 100% 0);
  transition: 0.4s;
}
.pricing-disc-area {
  padding: 0 40px;
}
.subs-para {
  font-size: 1.6rem;
  font-weight: 400;
  color: #525960;
  line-height: 1.5;
}
.choose-plan {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  color: black;
  padding: 15px 10px;
  width: 100%;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  transition: 0.4s;
}
.subs-plan-area:hover .choose-plan,
.choose-plan:hover {
  background-color: black;
  color: white;
}
.subs-points-list {
  height: 270px;
  overflow-y: auto;
  margin-bottom: 15px;
}
.subs-points-list::-webkit-scrollbar {
  width: 3px;
}

/* Track */
.subs-points-list::-webkit-scrollbar-track {
  background: #464e5f;
}

/* Handle */
.subs-points-list::-webkit-scrollbar-thumb {
  background: var(--light-orange);
}

/* Handle on hover */
.subs-points-list::-webkit-scrollbar-thumb:hover {
  background: var(--light-orange);
}

/* course detail screen */

.course-detail-img {
  height: 413px;
  border-radius: 10px;
  width: 100%;
}
.course-detail-title {
  font-size: 3.4rem;
  color: black;
  font-weight: 600;
  line-height: 1.4;
}
.course-admin-tag {
  font-size: 1.8rem;
  font-weight: 400;
  color: #161439;
}
.course-admin-tag a {
  font-size: 2.3rem;
  font-weight: 500;
  color: #161439;
}
.course-admin-img {
  height: 55px;
  width: 55px;
  border-radius: 50%;
}
.course-admin-tag-2 {
  font-size: 1.6rem;
  font-weight: 400;
  color: #595959;
}
.course-admin-pro {
  gap: 50px;
}
.course-admin-pro div::after {
  height: 7px;
  width: 7px;
  background-color: #595959;
  border-radius: 50%;
  content: " ";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -28px;
}
.course-admin-pro div:last-child::after {
  display: none;
}
.course-tabs-btn {
  font-size: 1.6rem;
  font-weight: 500;
  color: #5e5e5e;
  border-radius: 50px;
  background-color: #e6e6e6;
  padding: 7px 28px;
  text-transform: capitalize;
  border: 1px solid transparent;
  transition: 0.4s;
}
.course-tabs-btn:hover,
.course-tabs-btn.active {
  color: #161439;
  background-color: #ffc224;
  border: 1px solid black;
  box-shadow: 4px 4px 0 0 #3d3d3d;
}
.course-tabs-btns-list {
  margin: 50px 0 40px;
  gap: 30px;
}
.course-discription-area {
  border-radius: 10px;
  border: 1px solid #acacac;
  background-color: white;
  padding: 30px 30px;
}
.course-disc-title {
  font-size: 2.4rem;
}
.course-disc-para {
  font-size: 1.6rem;
  color: #757575;
  line-height: 1.7;
}
.circle-angel {
  height: 28px;
  width: 28px;
  background-color: var(--light-orange);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 1.6rem;
}
.list-disc-para {
  font-size: 1.8rem;
  margin: 0;
}
.course-detail-disc-list li {
  margin-bottom: 30px;
}
.course-tab-content {
  display: none;
}
.course-tab-content.active {
  display: block;
}

/* enrolled course screen  */

.enrolled-course-area {
  background-color: white;
  padding: 30px 30px;
}
.enrolled-video {
  width: 100%;
  border-radius: 10px;
  height: 658px;
  object-fit: cover;
  margin-bottom: 40px;
}
.enrolled-course-title,
.enrolled-video-time {
  font-size: 2.8rem;
  line-height: 1.4;
}
.erolled-profile {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}
.instructor-img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
.instructor-name {
  color: #171717;
}
.enrolled-star {
  font-size: 1.6rem;
  color: var(--light-orange);
}
.inst-dura-detail {
  gap: 100px;
}
.inst-dura-detail div::after {
  content: " ";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #c1c1c1;
  height: 52px;
  width: 1px;
  right: -50px;
}
.inst-dura-detail div:last-child:after {
  display: none;
}

/* archives screen */
.archives-img {
  height: 206px;
  border-radius: 6px;
}
.archive-down-btn {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border: none;
  font-size: 2rem;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--light-orange);
}
.archive-load-more {
  font-size: 1.5rem;
  border-radius: 6px;
  border: 2px solid #e2e8f0;
  padding: 6px 8px;
}
.archive-list-area {
  padding: 30px 30px;
}
.analysis-archive-video {
  width: 100%;
  height: 215px;
  object-fit: cover;
  border-radius: 10px;
}
.analysis-archive-play-btn {
  border: 0;
  gap: 5px;
  color: white;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: capitalize;
  z-index: 99;
}
.analysis-archive.active::before {
  display: none;
}
.analysis-archive::before {
  height: 98%;
  width: 100%;
  content: " ";
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  z-index: 1;
}
.analysis-archive-play-btn i {
  font-size: 2rem;
}

/* event detail  */

.event-detail-title {
  font-size: 2.8rem;
  padding-bottom: 30px;
  border-bottom: 0.5px solid #979797;
  margin-bottom: 20px;
}
.event-detail-left {
  padding: 30px 30px;
  background-color: white;
}
.event-detail-review {
  font-size: 2.2rem;
  font-weight: 400;
  color: #737373;
}
.event-detail-reviews-area {
  gap: 80px;
}
.event-detail-reviews-area div::after {
  content: " ";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 21px;
  background-color: #979797;
  right: -40px;
}
.event-detail-reviews-area div:last-child::after {
  content: unset;
}
.event-detail-profile-img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}
.event-admin-name {
  font-size: 2.2rem;
}
.event-detail-tab-btn {
  font-size: 1.8rem;
  font-weight: 500;
  color: black;
  background-color: transparent;
  border: 0;
}
.event-detail-tabs {
  border-bottom: 1px solid #979797;
  padding-bottom: 10px;
  margin: 50px 0 40px;
}
.event-detail-img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  margin-bottom: 30px;
}
.event-app-btns button {
  font-size: 1.6rem;
}
.event-trailor-video {
  width: 100%;
  height: 278px;
  object-fit: cover;
}
.event-detail-right {
  padding: 30px 20px 50px;
  background-color: white;
  max-width: 486px;
  width: 100%;
  float: right;
  margin-bottom: 50px;
}
.event-trailor-video-btn {
  height: 206px;
  width: 206px;
  border-radius: 100%;
  border: 1px solid white;
  gap: 5px;
  font-size: 1.6rem;
  font-weight: 400;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.course-disc-title.sm-hd {
  font-size: 2rem;
}
.event-trailor-video-area {
  margin-bottom: 25px;
}
.learning-list-circle {
  height: 19px;
  width: 100%;
  max-width: 19px;
  border-radius: 100%;
  background-color: var(--light-orange);
  font-size: 1.3rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul.event-learning-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.event-learning-li {
  margin-top: 20px;
}
.event-learning-li .course-disc-para {
  line-height: 1.3;
}
.event-learning-li {
  margin-top: 20px;
  width: 49%;
}
.event-datetime-detail {
  border-bottom: 1px solid #979797;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.event-detail-right .event-datetime-detail:last-child {
  border: none;
  padding: 0;
  margin: 0;
}

/* market analysis */

.add-resources {
  font-size: 1.4rem;
  font-weight: 500;
  color: black;
}
.add-resources.daily-analysis {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 11;
}
.view-more {
  font-size: 1.6rem;
  font-weight: 600;
  color: #161439;
}
.market-analysis-tite-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.analysis-main-tab-btn {
  background-color: transparent;
  font-size: 1.6rem;
  font-weight: 400;
  color: #a3a3a3;
  padding: 9px 24px;
  border-radius: 5px;
  border: none;
  border-top: 3px solid transparent;
  border-bottom: 2px solid transparent;
}
.analysis-main-tab-btn.active {
  border-top: 3px solid #0080ff;
  border-bottom: 2px solid #6993ff;
  color: #0080ff;
}
.analysis-main-tabs-list {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.main-tab-main {
  margin-top: 40px;
  padding-bottom: 25px;
  border-bottom: 1px solid #172b4c61;
  margin-bottom: 30px;
}
.analysis-circle-btn {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: #0080ff;
  border: none;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.analysis-circle-btn .fa-up-down-left-right {
  transform: rotate(45deg);
}
.analysis-inner-tabs-list .analysis-main-tab-btn {
  border-bottom: none;
}
.analysis-inner-tabs-list .analysis-main-tab-btn.active {
  background-color: #0d6efd;
  border-top: 4px solid #6993ff;
  color: white;
}
.main-tab-content-area {
  display: none;
  margin-bottom: 30px;
}
.main-tab-content-area.active {
  display: block;
}
.market-analysis-chart-area {
  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 39px 0 #00000038;
  background-color: white;
}

#timeToRender {
  position: absolute;
  top: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: #d85757;
  padding: 0px 4px;
  color: #ffffff;
}

/* wallet screen start */

.wallet-area {
  background-color: white;
  padding: 3rem 2rem;
}
.payment-title {
  padding: 20px 0;
  border-top: 2px solid rgba(0, 0, 0, 0.11);
  border-bottom: 2px solid rgba(0, 0, 0, 0.11);
  margin-bottom: 30px !important;
}
.payment-table tr th {
  font-size: 2rem;
  color: black;
  font-weight: 500;
  padding-bottom: 10px;
  border: none;
}
.payment-table tr td {
  font-size: 1.6rem;
  color: #1e293b;
  font-weight: 500;
  border: none;
  vertical-align: middle;
  padding-bottom: 45px;
}
#payment-listing-table_wrapper .row:first-child {
  margin-bottom: 20px;
}
.pay-list-username {
  font-size: 1.9rem;
  font-weight: 500;
  color: #2e3842;
}
.pay-list-pro-img {
  height: 48px;
  width: 48px;
  border-radius: 10px;
}
.payment-invoice-btn {
  background-color: var(--light-orange);
  border-radius: 5px;
  border: none;
  padding: 5px 35px;
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
  text-transform: uppercase;
}
.paymnt-tag {
  font-size: 1.4rem;
  font-weight: 700;
  color: white;
  padding: 1px 10px;
  background-color: var(--bg-color);
  border-radius: 4px;
}
.add-card-btn {
  font-size: 1.8rem;
  font-weight: 500;
  color: #000;
  background-color: var(--light-orange);
  border: none;
  border-radius: 12px;
  padding: 10px 28px;
  text-transform: uppercase;
  margin-top: 40px;
}

/* card css */

.field-container input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.field-container {
  margin-bottom: 30px;
}

.paymnt-label {
  font-size: 1.6rem;
  font-weight: 600;
  color: #1e293b;
  margin-bottom: 8px;
}

.paymnt-field {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  width: 100%;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.ccicon {
  height: 38px;
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
}

/* CREDIT CARD IMAGE STYLING */
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.pay-container {
  width: 100%;
  max-width: 600px;
  max-height: 251px;
  height: 54vw;
}

#ccsingle {
  position: absolute;
  right: 15px;
  top: 20px;
}

#ccsingle svg {
  width: 100px;
  max-height: 60px;
}

.creditcard svg#cardfront,
.creditcard svg#cardback {
  width: 100%;
  -webkit-box-shadow: 1px 5px 6px 0px black;
  box-shadow: 1px 5px 6px 0px black;
  border-radius: 22px;
}

#generatecard {
  cursor: pointer;
  float: right;
  font-size: 12px;
  color: #fff;
  padding: 2px 4px;
  background-color: #909090;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* CHANGEABLE CARD ELEMENTS */
.creditcard .lightcolor,
.creditcard .darkcolor {
  -webkit-transition: fill 0.5s;
  transition: fill 0.5s;
}

.creditcard .lightblue {
  fill: #03a9f4;
}

.creditcard .lightbluedark {
  fill: #0288d1;
}

.creditcard .red {
  fill: #ef5350;
}

.creditcard .reddark {
  fill: #d32f2f;
}

.creditcard .purple {
  fill: #ab47bc;
}

.creditcard .purpledark {
  fill: #7b1fa2;
}

.creditcard .cyan {
  fill: #26c6da;
}

.creditcard .cyandark {
  fill: #0097a7;
}

.creditcard .green {
  fill: #66bb6a;
}

.creditcard .greendark {
  fill: #388e3c;
}

.creditcard .lime {
  fill: #d4e157;
}

.creditcard .limedark {
  fill: #afb42b;
}

.creditcard .yellow {
  fill: #ffeb3b;
}

.creditcard .yellowdark {
  fill: #f9a825;
}

.creditcard .orange {
  fill: #ff9800;
}

.creditcard .orangedark {
  fill: #ef6c00;
}

.creditcard .grey {
  fill: #bdbdbd;
}

.creditcard .greydark {
  fill: #616161;
}

/* FRONT OF CARD */
#svgname {
  text-transform: uppercase;
}

#cardfront .st2 {
  fill: #ffffff;
}

#cardfront .st3 {
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
}

#cardfront .st4 {
  font-size: 54.7817px;
}

#cardfront .st5 {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
}

#cardfront .st6 {
  font-size: 33.1112px;
}

#cardfront .st7 {
  opacity: 0.6;
  fill: #ffffff;
}

#cardfront .st8 {
  font-size: 24px;
}

#cardfront .st9 {
  font-size: 36.5498px;
}

#cardfront .st10 {
  font-family: "Source Code Pro", monospace;
  font-weight: 300;
}

#cardfront .st11 {
  font-size: 16.1716px;
}

#cardfront .st12 {
  fill: #4c4c4c;
}

/* BACK OF CARD */
#cardback .st0 {
  fill: none;
  stroke: #0f0f0f;
  stroke-miterlimit: 10;
}

#cardback .st2 {
  fill: #111111;
}

#cardback .st3 {
  fill: #f2f2f2;
}

#cardback .st4 {
  fill: #d8d2db;
}

#cardback .st5 {
  fill: #c4c4c4;
}

#cardback .st6 {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
}

#cardback .st7 {
  font-size: 27px;
}

#cardback .st8 {
  opacity: 0.6;
}

#cardback .st9 {
  fill: #ffffff;
}

#cardback .st10 {
  font-size: 24px;
}

#cardback .st11 {
  fill: #eaeaea;
}

#cardback .st12 {
  font-family: "Rock Salt", cursive;
}

#cardback .st13 {
  font-size: 37.769px;
}

/* FLIP ANIMATION */
.pay-container {
  perspective: 1000px;
}

.creditcard {
  width: 100%;
  max-width: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: -webkit-transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  cursor: pointer;
}

.creditcard .front,
.creditcard .back {
  position: absolute;
  width: 100%;
  max-width: 400px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  color: #47525d;
}

.creditcard .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.creditcard.flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
